<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavanchukkala.internsship">

    <application
        android:label="Interns‑Ship"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name="android.support.customtabs.trusted.LauncherActivity"
            android:label="@string/app_name"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="intern-s-ship.vercel.app" />
            </intent-filter>

            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://intern-s-ship.vercel.app/" />
        </activity>

    </application>
</manifest>
